
footer {
    background-color: rgb(237, 178, 100);
    color: blue;
    text-align: center;
    padding: 20px;
    display: flexbox; /* Ensure the footer is visible */
    z-index: 10; /* Bring it above overlapping elements */
}

