<div class="nav-bar">
    <div class="title">{{title}}</div>
    <div class="logo" data-text="MeetMe">
        <a>Meet<span>Me</span></a>
    </div>

    <div class="nav-btn" routerLink="/home">Home</div>
    @if (!isLoggedIn) {
    
    <div class="nav-btn" routerLink="/login">Login</div>
    <div class="nav-btn" routerLink="/register">Registration</div>
    }@else {
    <div class="nav-btn" routerLink="/themes">Catalog</div>
    
    <div class="nav-btn" routerLink="/logout">Logout</div>
    }
</div>

<div class="banner"></div>



