@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



.nav-bar {
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color:antiquewhite;
    color: #000;
    display: flex;
    justify-content:right;
    align-items: center;
    .logo {
        text-decoration: none;
        justify-content: left;
        font-weight: bold;
        color: black;
        font-size: 1.2em;
        font-family: 'Poppins';

        span {
            color:blue
        }
    }

    .nav-btn {
    margin-left: 10px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 3px;
    }
    .nav-btn:hover {
    cursor: pointer;
    background-color: grey; 
    color: #fff;
    }
    

    }